[Unit]
Description=Mount disk after login
After=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/mount /dev/sd? /home/username/foldername
User=username
RemainAfterExit=true

[Install]
WantedBy=default.target
